# Bytes
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Data and Models
# data/ (User requested to include)
# app/model/ (Included)
# *.pkl (Included)
# *.joblib (Included)
# logs/ (Included)

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
